extends page_template.pug
include image_frame_mixin.pug

block content 
  section#about
    h2: strong Hello there!
    .vertical-centered.mx-3
      +image_frame_mixin(require('../assets/images/kittycat.jpg'))(class='small circle square shadow float-left')
      p.ml-3.mt-3 I'm an aspiring problem-solver, ready to tackle whatever gets thrown in my path.
    
    <br>

    include:markdown-it(linkify) ./markdown/example.md

  hr

  section#code
    h3 Projects
    p Look at all these beautiful instruction sets i've geezered!
    p.ml-3: a(href='https://www.youtube.com/watch?v=oHg5SJYRHA0') *theoretically a github link*

  hr

  section#contact
    h3 Get in touch!
    .link-collection
      span: a(href='https://www.linkedin.com/in/janniezhong/') LinkedIn
      span: a(href='janniezhong@gmail.com') janniezhong@gmail.com
      span: a(href='https://github.com/janniezhong/') Github
      span: a(href='http://instagram.com/janniezhong/') @janniezhong